.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}

.input-email {
    margin-bottom: 22px;
}

.secondary-button {
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

@media (max-width: 640px) {
    .secondary-button {
        position: absolute;
        bottom: 24px;
    }
}