.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-detail {
    width: 360px;
    padding-bottom: 24px;
    position: absolute;
    right: 0;
}

.product-detail-close {
    background-color: white;
    position: absolute;
    top: 16px;
    left: 12px;
    z-index: 2;
    padding: 8px 12px;
    border-radius: 50%;
}

.product-detail-close:hover {
    cursor: pointer;
}

.product-detail > img:nth-child(2) {
    width: 360px;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

.product-info {
    margin: 24px 24px 0 24px;
}

.product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 4px;
    margin-bottom: 4px;
}

.product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-weight: bold;
    font-size: var(--md);
    margin-top: 4px;
    margin-bottom: 24px;
}

.product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-weight: bold;
    font-size: var(--sm);
    margin-top: 4px;
    margin-bottom: 36px;
}

@media (max-width: 640px) {
    .product-detail {
        width: 100%;
    }

    .product-detail > img:nth-child(2) {
        width: 100%;
        max-height: 360px;
    }
}