.product-detail {
    padding: 24px;
}

.title-container {
    display: flex;    
    margin: 0 12px 36px;
}

.title-container img {
    transform: rotate(180deg);
    margin-right: 24px;
}

.title {
    font-size: var(--lg);
    font-weight: bold;
    margin-bottom: 0;
}